<%- include('partials/header'); -%>


    <div class="center-body">
        <%if(URLuser === user.email){%>
            <div class="form-cont">
                <h1 class="form-title">MAKE A WISH</h1>
              <form>
                <label for="NAME">ADD YOUR WISH</label>
                <input type="text" name="NAME">
                <input type="hidden" name="AUTHOR" data-doc="<%=user.email%>">
                <input type="hidden" name="UPDATEID" value="">
                <button id="formsubmit" type="button">Make a Wish</button>
            </form>
            </div>

        <div class="all-Wishes">
            <%let counter = 1;%>
                    <%wishes.forEach((Wishes) => {%> <!--If -->
                         <% Wishes.wishlist.forEach((Wish) => { %> <!--For each wish in array, make new container and display info-->
                            <div class="Wish-cont" data-doc="<%= counter -1%>">
                                <div class="Wish-content" data-doc="<%=Wishes._id%>" onclick="fillForm('<%=Wish%>', '<%= counter -1%>')">
                                    <button class ="delete" data-doc="<%=Wishes._id%>" onclick="deleteTRASH('<%= counter -1%>', '<%=Wishes.email%>')">DELETE</button>
                                    <h1><%= counter %>. <%=Wish%></h1>
                                    <input type="text" name="NAME" class="updateStyle" id="updateInput<%= counter -1%>">
                                    <button id="update-form<%= counter -1%>" class="updateStyle" type="button" onclick="updateForm('<%= counter -1%>', '<%=Wishes.email%>')">Update Wish</button>
                                    <p class="author-para"><%=Wishes.email%></p>
                                    <button class="move-up" data-doc="<%= Wishes._id %>" onclick="moveWishUp('<%= Wishes._id %>')">Move Up</button>
                                    <button class="move-down" data-doc="<%= Wishes._id %>" onclick="moveWishDown('<%= Wishes._id %>')">Move Down</button>
                                </div>
                            </div>
                            <%counter++;%>
                                <%})%>
                    <%})%>
            <%}else{%>
                <div class="error-display">
                    <p id="no-display">PERMISSION DENIED</p>
                </div>
              <%}%>
           

        </div>

    </div>
    <div class="bottom-body">

    </div>
  </div>

  <script src="/JS/account.js"></script>

<%- include('partials/footer'); -%>