<%- include('partials/header'); -%>


    <div class="center-body">

        <div class="all-Wishes">

            <% if (Wish.length > 0) {
                // Sort the wishes by createdAt in descending order
                Wish.sort((a, b) => new Date(b.document.createdAt) - new Date(a.document.createdAt));
                Wish.forEach((Wishes) => { %>
                  <div class="Wish-cont">
                    <a href="/<%= Wishes.document.author %>">
                      <div class="Wish-content">
                        <h1><%= Wishes.document.yourWish %></h1>
                        <p class="author-para"><%= Wishes.document.author %></p>
                      </div>
                    </a>
                  </div>
                <% });
              } else { %>
                <p>THERE'S NOTHING TO DISPLAY</p>
              <% } %>
              

        </div>

    </div>
    <div class="bottom-body">

    </div>
  </div>

<%- include('partials/footer'); -%>