<%- include('partials/header'); -%>


  <div class="center-body">
    <h1 id="user-wishes">Check out these wishlists</h1>
    <div class="all-Wishes">

      <% if (Wish.length > 0) { %>
        <% Wish.sort((a, b) => new Date(b.updatedAt) - new Date(a.updatedAt)); %>
        <% Wish.forEach((Wishes) => { %>
          <div class="Wish-cont">
              <a href="/<%= Wishes._id %>">
              <div class="Wish-content" data-doc="<%= Wishes._id %>">
                <h1><%= Wishes.wishlist[0] %></h1> <!-- Display the first wish in the wishlist array -->
                <button id="update-form" class="updateStyle" type="button"></button>
                <p class="author-para"><%= Wishes._id %></p> <!-- Display the email address -->
              </div>
            </a>
            </div>
        <% }) %>
      <% } else { %>
        <p>THERE'S NOTHING TO DISPLAY</p>
      <% } %>
      
      


    </div>

  </div>
  <div class="bottom-body">

  </div>
  </div>

  <%- include('partials/footer'); -%>