<%- include('partials/header'); -%>


    <div class="center-body">
        <div class="all-Wishes">

            <%if(wishes.length > 0){%>
                <h1 id="user-wishes">wishes by <%=wishes[0].email%></h1>
                <%let counter = 1;%>
                <%wishes.forEach((Wishes) => {%> <!--This loops through the entire user document so we can use parameters like email -->
                     <% Wishes.wishlist.forEach((Wish) => { %> <!--For each wish in array, make new container and display info-->
                        <div class="Wish-cont" id="wish-<%= counter - 1 %>">
                            <div class="Wish-content" data-doc="<%=Wishes._id%>">
                                <h1><%= counter %>. <%=Wish%></h1>
                                <p class="author-para"><%=Wishes.email%></p>
                            </div>
                        </div>
                        <%counter++;%>
                            <%})%>
                <%})%>
              <%}else{%>
                <div class="error-display">
                    <p id="no-display">THIS USER HAS NO Wishes TO DISPLAY</p>
                </div>
              <%}%>

        </div>

    </div>
    <div class="bottom-body">

    </div>
  </div>

<%- include('partials/footer'); -%>