<%- include('partials/header'); -%>


    <div class="center-body">

        <div class="all-Wishes">

            <%if(wishes.length > 0){%>
                <%let counter = 1;%>
                <h1 id="user-wishes">wishes by <%=wishes[0].author%></h1>
                <%wishes.forEach(Wishes => {%>

                    <div class="Wish-cont">
                        <div class="Wish-content">
                            <h1><%= counter %>. <%=Wishes.yourWish%></h1>
                            <p class="author-para"><%=Wishes.author%></p>
                        </div>
        
                    </div>
                    <%counter++;%>
                <%})%>
              <%}else{%>
                <div class="error-display">
                    <p id="no-display">THIS USER HAS NO Wishes TO DISPLAY</p>
                </div>
              <%}%>

        </div>

    </div>
    <div class="bottom-body">

    </div>
  </div>

<%- include('partials/footer'); -%>